:root {
	--main-bg-color: #fff;
	--button-selected-color: #1797ff;
	--button-color: #d6d6d6;
	--button-text-color: #606060;
}

.ad_page {
	text-align: center;
	background-color: var(--main-bg-color);
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.ad_header-page{
	text-align: left;
	display: flex;
	align-items: center;
	padding: 1rem 10rem;
	box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
	background: linear-gradient(to bottom, #ececec -32%, var(--main-bg-color) 124%);
}
.ad_header-title{
	font-family: Baskerville;
	font-size: 1.75rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #3b3b3b;
}

.ad_main-container{
	padding: 0rem 10rem;
	height: calc(100vh - 98px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ad_selection{
	margin: 3rem 0;
}

.ad_selection button{
	width: 6.125rem;
	height: 1.938rem;
	border-radius: 2px;
	background-color: var(--main-bg-color);
	font-family: Roboto;
	font-size: 1rem;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: center;
}

.ad_selection .selected-button{
	border: solid 1px var(--button-selected-color);
	color: var(--button-selected-color);
	cursor: pointer;
}

.ad_selection .not-selected-button{
	border: solid 1px var(--button-color);
	color: var(--button-text-color);
	cursor: pointer;
}

.ad_selection-options{
	display: flex;
	margin: 2rem 0;
}

.ad_select-options{
	width: 15rem;
	height: 2rem;
	padding: 0.313rem 0.75rem 0.313rem 0.75rem;
	border-radius: 4px;
	border: solid 1px #2e2e2e;
	background-color: var(--main-bg-color);
}

@media (max-width: 768px) {
	.ad_header-page{
		padding: 1rem 1rem;
		justify-content: center;
	}
	.ad_selection{
		margin: 2rem 0;
	}
	.ad_selection-options{
		align-items: center;
		justify-content: center;
	}
	.selector{
		margin: 0 auto;
		width: 100% !important;
		max-width: 250px;
	}
}

@media (max-width: 1024px) {
	.ad_main-container{
		padding: 1rem 3rem;
		height: 100%;
	}
}